body 
        {
            background-color: rgb(25, 25, 25);
            color: white;
            font-family: Arial;
        }
        .main-heading
        {
            font-size: 2.5rem;
            font-weight: bolder;
        }
        .move-icon
        {
            height: 50px;
            background-color: none;
        }
        .move-btn
        {
            background-color: transparent;
            border-radius: 50%;
            border: 3px solid white;
            width : 100px;
            height: 100px;
            margin: 10px;
            cursor: pointer;
        }
        .js-result
        {
            font-size: 1.3rem;
        }
        .score
        {
            margin-top: 60px;
        }
        .reset-btn
        {
            background-color: white;
            border: none;
            font-size: 15px;
            padding: 11px;
            font-weight: 300;
            cursor: pointer;
        }