.add-to-cart
{
    background-color: rgb(255,216,20);
    color: black;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 20px;
    margin: 2rem;
}

.request-now-btn
{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px;
     margin: 1rem;
}

.schedule-for-later-btn
{
    background-color: rgb(230,230,230);
    color: black;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px;
     margin: 1rem;
}

.off
{
    background-color: rgb(230,230,230);
    color: black;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    cursor: pointer;
}

.on
{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    cursor: pointer;
}